.question{
  width: 72%;
 margin-left: 250px !important;
 margin-top: 2% !important;
}
.Username{
  margin-left: 20% !important; 
  margin-top: 5% !important;
  width: 60%;
}
.btns{
  margin-left: 2% !important; 
}